fieldset {
    border: none;
    padding: 0;
}

.age-box input,
.age-box label {
    font-size: 22px;
    font-family: Helvetica, Arial, sans-serif
}

.time-box input,
.time-box select,
h1,
h2,
p {
    font-size: 32px;
    font-family: Helvetica, Arial, sans-serif;
}

.time-box,
h1,
h2,
p {
    text-align: center;
}

/* AGE BOX */

.age-box {
    display: flex;
}

.age-box .age {
    flex-basis: 50%;
    text-align: center;
}

.age-box .age label,
.age-box .age input {
    display: block;
    margin: 0 auto 5px;
}

@media (min-width: 400px) {
    .age-box .age label,
    .age-box .age input {
        display: inline-block;
    }
}

/* OTHER */

#relative-time-span {
    font-size: 42px;
}

.time-box {
    margin-top: 10px;
}

@media (min-width: 400px) {
    .time-box {
        margin-top: 20px;
    }
}

.message {
    margin: 20px 0;
}

small {
    font-size: 18px;
    display: block;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

.container {
    margin: 0 5px;
}